/* Add your desired styling here */
/*Header Styling*/

/* styles/main.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eaeaea;
}

header {
    background-color: #33363b;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

/*Footer Styling*/

/* Footer */
footer {
    background-color: #33363b;
    color: #fff;
    text-align: center;
    padding: 1rem;
    font-size: 0.8rem;
}

/* Add your desired styling here */
.todo-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.input-group {
    display: flex;
    align-items: center;
}

input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
}

button:hover {
    background-color: #c82333;
}

ul {
    list-style: none;
    padding: 0;
}

/* li {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-bottom: 10px;
} 
*/
